@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply bg-[#007bff] py-2 px-4 rounded-full text-white text-lg font-semibold hover:opacity-80 duration-200
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #2b2c37;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2b2c37;
  border-radius: 14px;
  border: 3px solid #007bff;
}

.h3 {
  size: 90px;
  font-family: 'Roboto', sans-serif;
}

